{{#each this}}
<div class='country-container'>
    <h2 class='country-name'>{{name}}</h2>
    <div class='country-block'>
        <p><span class='property'>Capital: </span>{{capital}}</p>
        <p><span class='property'>Population: </span> {{population}}</p>
        <p><span class='property'>Languages:</span></p>
        <ul>
            {{#each languages}}
            <li class='language-item'>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class='country-img'>
        <img src='{{flag}}' alt='Flag: {{name}}' class='image' />
    </div>
</div>
{{/each}}